<div class="row">
    <div class="col-md-5 mx-auto py-5">
        <form action="/newcard" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary pill">Add Card</button>
            </div>
        </form>
    </div>
</div>
